<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<section layout:fragment="content">
    <form action="/admin/articles" method="post">
        <div class="mb-3">
            <label for="slug" class="form-label">Slug</label>
            <input name="slug" type="text" class="form-control" id="slug"
                   placeholder="Please input slug">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Please input title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="description" placeholder="Please input description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>
</html>
